#aboutBlogDiv {
    width: 50%;
    margin: 1em auto;
    background-color: #4c4c4c;
    padding: 3em;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    color: whitesmoke;
}

#aboutBlogDiv p {
    background-color: #2d2d2d;
    height: 55vh;
    padding: 1em;
    margin: 1em 0em;
    color: #bdbdbd;
    overflow-y: auto;

}

#aboutBlogDiv a{
    color: #3ea6ff;
}